:root {
  --primary-color: #222222;
  --text-color: #ffffff;
  --button-color: #2ea941;
}
* {
  margin: 0;
}
body {
  position: relative;
}
iframe {
  width: 90%;
  height: 500px;
  border: 3px solid black;
}
@keyframes wiggle {
  0% {
    rotate: -20deg;
  }
  50% {
    rotate: 20deg;
  }
  100% {
    rotate: -20deg;
  }
}

cookie-manager-toggler {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 14px;
  transition: right 0.25s ease-in-out;
  cursor: pointer;
  width: 60px;
  height: 60px;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    max-width: 55px;
    max-height: 55px;
    background-image: url('../images/cookie.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    scale: -1 1;
    animation: wiggle 5s infinite;
    animation-timing-function: ease-in-out;
  }
  &.hide {
    right: -100%;
    transition: right 0.25s ease-in-out;
  }
}
cookie-manager {
  display: block;
  position: fixed;
  left: -100%;
  bottom: 50%;
  translate: 0 50%;
  width: clamp(200px, 50vw, 800px);
  color: var(--text-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
  min-height: 450px;
  transition: all 0.25s ease-in-out;
  &.opened {
    left: 50%;
    translate: -50% 50%;
    transition: all 0.25s ease-in-out;
  }
  & cm-heading {
    font-size: 22px;
    text-transform: uppercase;
  }
  & cm-close {
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  > cm-essentials {
    position: absolute;
    right: 5rem;
    top: 1.5rem;
    & cm-essentials {
      display: flex;
      gap: 1rem;
    }
    & a {
      color: var(--text-color);
      text-decoration: none;
      cursor: pointer;
    }
  }
  & cm-body {
    display: block;
    overflow-y: auto;
    max-height: 375px;
    & cm-category {
      padding: 1rem 0;
      display: block;
      border-bottom: 2px solid white;
      &:last-of-type {
        border-bottom: none;
      }
      & cm-row {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 5px;
        & label {
          display: flex;
          gap: 5px;
          margin-bottom: 0.5rem;
          font-weight: 600;
          & input {
            height: fit-content;
            margin-top: auto;
            margin-bottom: 1px;
          }
        }
        & a {
          color: var(--text-color);
        }
        & p {
          margin-bottom: 0.5rem;
          display: inline-block;
          vertical-align: top;
          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
  & input,
  & label {
    cursor: pointer;
  }

  & cm-footer {
    & cm-footer {
      display: block;
      background-color: var(--primary-color);
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    & cm-text {
      display: block;
      font-size: 12px;
      width: 50%;
    }
    & cm-buttons {
      display: block;
      text-align: center;
      padding: 1rem;
      border-radius: 10px;
      background-color: var(--button-color);
      cursor: pointer;
      width: 50%;
    }
  }
}
